<h4>All comments for <%=@commented_thing.title%></h4>
<div>
  <ul>
  <%= link_to "â† Back to Movie", movie_path(@commented_thing)%>
  <%@comments.each do |comment|%>
    <li>
      <%user = User.find(comment.user_id)%>
        <div class='comment-box'>
        <div class='name-pad'><h5><%=user.username%></h5></div>
        <div class='comment-pad'><%=comment.body%></div>
    </li>
  <%end%>
  </ul>
</div>
