
<div class="col s4 m4">
  <div class="card">
    <div class="card-image">
      <img src="<%= movie.poster %>">

    </div>
    <div class="card-content">
      <span class="card-title">
        <%= link_to movie.title, movie_path(movie), class: 'movie_title' %>
      </span>
      <p><%= movie.year %></p>
    </div>
  </div>
</div>

