.hidden-text {
  color: transparent;
}

.btn {
	background-color: #ffcc80 !important;
}

.paradiso {
	background-color: #558382;
}

.nav-wrapper {
	padding: 0 1em 0 2em;
}

.movie_title {
  color: purple;
}

.card-image {
  width: 17em;
  height: 17em;
  overflow: hidden;
  vertical-align:
}
.card {
  width: 17em;
}


.side-nav {
  width: 12.5em;
}

.side-nav.fixed * {
  display: block;
  padding: 0 2em;
  color: #444;
  font-size: 1em;
  line-height: 64px;
}

.side-nav.fixed a {
  padding: 0;
}

main {
  padding-left: 7em;
}

.genre {
/*  line-height: 1;
  height: 2.5em;*/
  text-indent: 15px;
}
